:root {
    --mobile-width: 340px;
    --tablet-width: 500px;
}

@media (min-width: 340px) and (max-width: 499px) {
    .login-page {
        font-size: 12px;
    }

    .login-page-container {
        width: 300px;
    }
    .user-icon-container{
    width: 110px;
    height: 110px;
    }

    .user-icon-container h1{
         
        line-height: 110px;
        font-size: 5rem;
         
    }

    .input-container .password{
     
         
        width: 200px;
         
    }
}